<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqx.mapper.BerthMapper">
  <resultMap id="BaseResultMap" type="com.lqx.pojo.Berth">
    <id column="_id" jdbcType="INTEGER" property="id" />
    <result column="berth_no" jdbcType="VARCHAR" property="berthNo" />
    <result column="_size" jdbcType="INTEGER" property="size" />
    <result column="day_rate" jdbcType="VARCHAR" property="dayRate" />
    <result column="_status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    _id, berth_no, _size, day_rate, _status
  </sql>
  <select id="selectByExample" parameterType="com.lqx.pojo.BerthExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from berth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from berth
    where _id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByBerthNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from berth
    where berth_no = #{berthNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from berth
    where _id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lqx.pojo.BerthExample">
    delete from berth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lqx.pojo.Berth">
    insert into berth (_id, berth_no, _size, 
      day_rate, _status)
    values (#{id,jdbcType=INTEGER}, #{berthNo,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{dayRate,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lqx.pojo.Berth">
    insert into berth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        _id,
      </if>
      <if test="berthNo != null">
        berth_no,
      </if>
      <if test="size != null">
        _size,
      </if>
      <if test="dayRate != null">
        day_rate,
      </if>
      <if test="status != null">
        _status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="berthNo != null">
        #{berthNo,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="dayRate != null">
        #{dayRate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lqx.pojo.BerthExample" resultType="java.lang.Long">
    select count(*) from berth
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update berth
    <set>
      <if test="record.id != null">
        _id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.berthNo != null">
        berth_no = #{record.berthNo,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        _size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.dayRate != null">
        day_rate = #{record.dayRate,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        _status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update berth
    set _id = #{record.id,jdbcType=INTEGER},
      berth_no = #{record.berthNo,jdbcType=VARCHAR},
      _size = #{record.size,jdbcType=INTEGER},
      day_rate = #{record.dayRate,jdbcType=VARCHAR},
      _status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lqx.pojo.Berth">
    update berth
    <set>
      <if test="berthNo != null">
        berth_no = #{berthNo,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        _size = #{size,jdbcType=INTEGER},
      </if>
      <if test="dayRate != null">
        day_rate = #{dayRate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        _status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where _id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lqx.pojo.Berth">
    update berth
    set berth_no = #{berthNo,jdbcType=VARCHAR},
      _size = #{size,jdbcType=INTEGER},
      day_rate = #{dayRate,jdbcType=VARCHAR},
      _status = #{status,jdbcType=VARCHAR}
    where _id = #{id,jdbcType=INTEGER}
  </update>

</mapper>